body{

	background-color: #16421A;
}


.animacja {

	animation: hinge 2s;
}

.odpowiedz{
	text-align: center;
	border: 4px solid #6B5511;
	padding: 10px;
	background-color: #D4D7BE;
	font-size: 33px;
	border-radius: 6px;
	height: 200px;
	transition: all .6s ease-in-out;

		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#fcfff4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}


.odpowiedz:hover{
	
	cursor: pointer;
	border: 4px solid #E7A14E;
}


.odpowiedz h5{
	text-align: center;
	border-bottom: 1px solid #28341C;
	padding-bottom: 4px;
	
}



.logo{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 45px;
	color:#E7A14E;
	text-shadow: 3px 3px #000;
}

.czas{
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: #EAE7B0;
	
}

.poziom{
	text-align: center;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: #EAE7B0;

}

.zanikanie{
	animation-name: zanikanie;
    animation-duration: 3s;    
    animation-fill-mode: forwards;

}

@keyframes zanikanie{

0% {opacity: 1;}
100% {opacity: 0;}

}

.pytanie {
	border: 2px solid #6B5511;
	text-align: center;
	height:90px;
	margin-bottom: 20px;
	border-radius: 6px;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	color: #EAE7B0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49594b+0,526e53+50,4a644a+51,739672+100 */
	background: #49594b; /* Old browsers */
	background: -moz-linear-gradient(45deg, #49594b 0%, #526e53 50%, #4a644a 51%, #739672 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #49594b 0%,#526e53 50%,#4a644a 51%,#739672 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #49594b 0%,#526e53 50%,#4a644a 51%,#739672 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-box-shadow: 9px 10px 29px 1px rgba(0,0,0,0.67);
	-moz-box-shadow: 9px 10px 29px 1px rgba(0,0,0,0.67);
	box-shadow: 9px 10px 29px 1px rgba(0,0,0,0.67);
}

.off {

	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: #EAE7B0;
	
}

.pytanie_nag {
	margin-top: 20px;
	border-radius: 6px;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: #E7A14E;
			
}

.pkt {
	text-align: right;
	border-radius: 6px;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: #EAE7B0;
			
}

.pytanie_napis{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 29px;
	color:#16421A;
	border-right: .6px solid ;
	padding-right: 4px;

}

a.start
{
	background-color: #236d2b;
	padding: 9px;
	border-radius: 5px;
	color: #E8E5C3;
	text-decoration: none;
	font-size: 39px;
	 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e8c1c+0,20511f+50,1c471b+51,237b21+100 */
	background: #1e8c1c; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #1e8c1c 0%, #20511f 50%, #1c471b 51%, #237b21 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #1e8c1c 0%,#20511f 50%,#1c471b 51%,#237b21 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #1e8c1c 0%,#20511f 50%,#1c471b 51%,#237b21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e8c1c', endColorstr='#237b21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	transition: all .1s ease-in-out;
}

a.start:hover
{
	color: #eaeada;
	text-decoration: none;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4cdb49+0,388e36+50,307b2f+51,46cd43+100 */
	background: #4cdb49; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #4cdb49 0%, #388e36 50%, #307b2f 51%, #46cd43 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #4cdb49 0%,#388e36 50%,#307b2f 51%,#46cd43 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #4cdb49 0%,#388e36 50%,#307b2f 51%,#46cd43 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cdb49', endColorstr='#46cd43',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	  -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
	  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
 
}


a.next
{
	background-color: #236d2b;
	padding: 9px;
	border-radius: 5px;
	color: #E7A14E;

	
	text-decoration: none;
	font-size: 25px;
	 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e8c1c+0,20511f+50,1c471b+51,237b21+100 */
	background: #1e8c1c; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #1e8c1c 0%, #20511f 50%, #1c471b 51%, #237b21 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #1e8c1c 0%,#20511f 50%,#1c471b 51%,#237b21 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #1e8c1c 0%,#20511f 50%,#1c471b 51%,#237b21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e8c1c', endColorstr='#237b21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	transition: all .1s ease-in-out;
	}

a.next:hover
{
	color: #EBC38E;
	text-decoration: none;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4cdb49+0,388e36+50,307b2f+51,46cd43+100 */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cdb49', endColorstr='#46cd43',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	  -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
	  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
	 
}

div.start{

	text-align: center;
	margin-top: 200px;
}

.good{

 position: absolute;
 top: 5px;
 left: 45%;
}

.bad{

 position: absolute;
 top: 5px;
 left: 80%;
}

.belka{
	border-top: 2px solid #475731;
	margin-top: 25px;
	padding-top: 5px;
}

.main_button_row{
	margin-top: 30px;
}

